@page "/incidencias/eliminar/{id:int}"
@inject IIncidenciasRepositorio _incidenciasRepositorio
@inject NavigationManager NavigationManager
@inject Notificacion Notificacion

<h3>Eliminar Incidencia</h3>

<p>¿Está seguro de que desea eliminar la incidencia <strong>@incidencia?.DescInc</strong>?</p>

<button class="btn btn-danger" @onclick="EliminarIncidencia">Eliminar</button>
<button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>

@code {
    [Parameter] public int id { get; set; }
    private Incidencias incidencia = new Incidencias();

    protected override async Task OnInitializedAsync()
    {
        // Obtener la incidencia por el ID antes de mostrar el formulario
        var incidencias = await _incidenciasRepositorio.GetAllAsync();
        incidencia = incidencias.FirstOrDefault(p => p.IdIncidencias == id);

        // Si la incidencia no existe, redirigir al listado de incidencias
        if (incidencia == null)
        {
            NavigationManager.NavigateTo("/incidencias");
        }
    }

    private async Task EliminarIncidencia()
    {
        try
        {
            if (incidencia != null)
            {
                await _incidenciasRepositorio.Eliminar(incidencia);
                NavigationManager.NavigateTo("/incidencias");
            }
            else
            {
                NavigationManager.NavigateTo("/incidencias");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al eliminar la incidencia: {ex.Message}");
        }
    }

    private void Cancelar()
    {
        NavigationManager.NavigateTo("/incidencias");
    }
}
